/* VARIABLES, MIXINS ETC. */
/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0.5em;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #777;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

.header-primary {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  /* this prevents the slight shaking effect at the end of the animation */
}
.header-primary__main {
  font-size: 2em;
  letter-spacing: 16px;
  display: block;
  animation: moveInLeft 2s ease-out;
}
.header-primary__sub {
  font-size: 0.75em;
  letter-spacing: 10px;
  display: block;
  animation: moveInRight 2s ease-out;
}

.header-secondary {
  font-size: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.header-secondary:hover {
  transform: skewY(1deg);
  text-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

/* COMPONENTS */
.btn:link,
.btn:visited {
  border-radius: 100px;
  padding: 1em 3em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 3em;
  width: fit-content;
  position: relative;
  /* need this as a reference point for the ::after */
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background: #fff;
  color: #777;
}

.btn-animated {
  animation: moveInBottom 2s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* applies the 0% settings to the element before the animation even starts */
}

.btn::after {
  content: "";
  /* need to have this even if empty */
  display: inline-block;
  /* also need the display properties */
  height: 100%;
  width: 100%;
  /* 100% of the width of the btn */
  position: absolute;
  /* needs a reference point - see parent element? */
  top: 0;
  left: 0;
  z-index: -1;
  /* look this up but its also needed */
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
  border-radius: 100px;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* LAYOUT */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* x and y axis - starting from top left, top right, bottom right, bottom left */
}
.header-logo-box {
  position: absolute;
  top: 1.4em;
  left: 1.4em;
  text-align: center;
}
.header-logo {
  height: 1.5em;
}
.header-content {
  height: 75vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* not quite center, but its not random absolute positioning! */
}

.section-about {
  background-color: #f7f7f7;
  padding: 25em 0;
  margin-top: -20vh;
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(2, 1fr);
  grid-template-areas: "header header" "copy image" "copy image" "button image";
}
.section-about .header-secondary {
  grid-area: "header";
}
.section-about--header {
  grid-area: "copy";
}
.section-about--copy {
  grid-area: "copy";
}
.section-about--link {
  grid-area: "button";
}

/*# sourceMappingURL=style.css.map */
