.section-about {
    background-color: $color-gray-light;
    padding: 5em 0;
    margin-top: -20vh; //this allows the section to go up into the angled portion of the header (95vh - 75vh - see polygon)

    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
        "header header"
        "block-1 image"
        "block-2 image"
        "button button";
    gap: 1em 3em;
    align-items: center;

        .header-secondary {
            grid-area: header;
            margin-bottom: 0;
        }
        
        &--block-1 {
            grid-area: block-1;
        }

        &--block-2 {
            grid-area: block-2;
        }

        &--link {
            grid-area: button;
        }

        .about-image-collage {
            grid-area: image;

        }
}